footer{
    position: relative;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to left,white, rgb(124, 144, 160));
    color: white;
    display: grid;
    grid-template-rows:  1fr;
    grid-template-columns:  1fr;
    // grid-gap: 2%;
    padding: 2% 3%;
    color: white;
    div{
        padding: 10px;
        position: relative;
        // grid-row-start: 2;
        // grid-column-start: 2;
        border-right: 1px white solid;
    }
    ul{
        li{
            list-style: none;
            a{
                line-height: 1.5;
                text-decoration: none;
                color:white;
            }

        }
    }
h2{
    // grid-row-start: 1;
    // grid-row-end: 2;
    // grid-column-start: 1;
    // grid-column-end: 5;
}
}

@media(min-width: 700px){
    footer{
        display: grid;
        grid-template-rows: repeat(auto-fill,1fr);
        grid-template-columns: repeat(auto-fill, 20%);
        div{
            grid-row-start: 2;
        }
    }
    h2{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 5;
    }
}
