nav{
    position: fixed;
    width: 100vw;
    height: 2rem;
    background-color: rgb(255, 255, 255);
    margin: auto 0;
    overflow: hidden;
    .mobile-burger{
        
        position: absolute;
        padding: 1%;
        height: 100%;
        top: -10%;
        width: 5%;
        margin-left: 1%;
        background-color: rgb(255, 255, 255);
        svg{
            color: rgb(36, 36, 36);
        }
    }
    .logo{
        margin: auto auto;
        width: 30%;
        font-size: 1.6rem;
        text-align: center;
        height: 100%;
        background-color: crimson;
    }
    ul{
        position: inherit;
        text-align: center;
        display: block;
        width: 100%;
        list-style: none;
        background-color: rgba(235, 226, 227, 0.90);
        li{
            width: 100%;
            padding: 2px 0;
            border: rgb(255, 255, 255) 1px solid;
            margin-right: 15px;
            a{
                text-decoration: none;
                font-family: monospace;
                font-size: 1.5rem;
                color: rgb(14, 14, 14);
                &:hover{
                    color: rgb(47, 0, 255);
                }
            }

        }
    }
}
.hidden{
    display: none;
}
.show{
    display: block;
}

@media(min-width: 700px){
    nav{
        height: 2rem;
        .mobile-burger{
            display: none;
        }
        .logo{
            display: none;
        }
        ul{
            height: 2rem;
           display: block;
            // margin: 0;
            // padding-left: -20px;
            position: relative;
            top: 0%;
            // line-height: 1;
            li{
                border: none;
                display: inline;
                // a{
                    // margin: auto auto;
                // }
            }
            // display: none;
            // display: inline;
        }
    }
}
// @media(min-width: 600px){
//     nav{
//         background-color: lightgreen;
//         ul{
//             display: block;
//         }
//     }

// }