.main-nav{
    font-family: 'Montserrat', sans-serif;
    z-index: 99999;
    position: fixed;
    width: 100vw;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin: auto 0;
    overflow: hidden;
    box-shadow: 2px 2px 8px rgba(99, 99, 99, 0.788);
    .mobile-burger{
        display: grid;
        grid-template-columns: 5% 95%;
        grid-template-rows: 1fr;
        position: relative;
        padding: 1%;
        height: 100%;
        top: -10%;
        margin-left: 1%;
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        svg{
            color: rgb(36, 36, 36);
        }
    }
    .welcome{
        display: none;
    }
    .logo{
        font-family: 'Montserrat', sans-serif;
        margin: auto auto;
        width: 30%;
        font-size: 1.5rem;
        text-align: center;
        height: 100%;
        color: rgb(124, 144, 160);
    }
    ul{
        position: relative;
        margin: auto;
        padding: 10px 0;
        text-align: center;
        width: 90vw;
        list-style: none;
        background-color: rgba(255, 255, 255, 0.9);
        height: auto;
        li{
            // background-color: rgb(223, 195, 102);
            width: 100%;
            padding: 2px 0;
            border-top: rgb(177, 177, 177) 1px solid;
            margin-right: 15px;
            a{
                text-decoration: none;
                // font-family: monospace;
                font-weight: 500;
                font-size: 1.15rem;
                color: rgb(14, 14, 14);
                &:hover{
                    color: rgb(124, 144, 160);
                }
            }

        }
    }
}
.hidden{
    display: none;
}
.show{
    display: block;
}

@media(min-width: 700px){
    .main-nav{
        display: grid;
        height: auto;
        grid-template-columns: 25% 15% 60%;
        .mobile-burger{
            display: none;
        }
        .logo{
            display: none;
        }
        .welcome{
            font-weight: 500;
            width: auto;
            // color: rgb(4, 63, 173);
            color: rgb(124, 144, 160);
            // text-align: center;
            padding:0 15%;
            display: block;
        }
        ul{
            width: 100%;
            grid-column-start: 3;
            grid-column-end: 4;
            height: auto;
            display: block;
            position: relative;
            top: 0%;
            padding: 10px;
            li{
                border: none;
                display: inline;
               
            }
        }
    }
}
// @media(min-width: 600px){
//     nav{
//         background-color: lightgreen;
//         ul{
//             display: block;
//         }
//     }

// }