.videoSection{
    display: flex;
    padding: 20px;
    video{
        width: 45%;
    }
    .video-info{
        width: 30%;
        text-align: center;
        padding: 20px;
        margin: 0 auto;
    }
}
@media(max-width: 700px){
    .videoSection{
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 'vid''container';
        text-align: center;
        video{
            width: 80vw;
            margin: auto;
            #video2{
                grid-area: vid;
                margin: auto;
            }
        }
        .video-info{
            grid-area: container;
            width: 80vw;
        }
    }
    
}